body{
	background-image: url(9.jpeg);
	background-repeat: no-repeat;
  	background-size: 100% 100%;
  	background-attachment: fixed;
}
.heading{
	font-size: 75px;
	text-align: center;
	margin: 10px;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
	border:7px solid;
}
.logo{
	width: 150px;
	height: 70px;
	text-align: left;
	position: absolute;
	left: 30px;
	top: 35px;
}
.nav{
	background-color: white;
	border: 7px solid;
	text-align: center;
	margin: 10px;
	padding: 20px;
	border-radius: 10px;
	position: static;

}
.nav a{
	text-decoration: none;
	position: static;
	margin: 70px;
	font-size: 25px;
	color: black;
	position: static;
}
.nav a:hover{
	background-color: black;
	margin: 60px;
	box-shadow: 20 white;
	color: white;
	border-radius: 5px;
	padding: 10px;
}
.img{
	width: 760px;
	height: 600px;
	border: 10px solid;
	border-radius: 10px;
	margin-left: 250px;
	margin-right: 95px;
	margin-bottom: 20px;
}
.detail{
	background-color: white;
	border:5px solid;
	border-radius: 10px;
	float: left;
	margin: 10px;
}
.name{
	font-size: 50px;
	text-decoration: bold;
	text-align: center;
}
.mrp{
	text-decoration: bold;
	text-align: center;
	font-size: 30px;
}
.paragraph{
	font-size: 30px;
	margin: 50px;
	text-align: justify;
	margin-bottom: 40px;
}
ul{
	font-size: 25px;
	margin-left: 100px;
	margin-right: 50px;
	width: 1110px;
}