body{
	color: black;
	background-image: url(9.jpg);
	background-repeat: no-repeat;
  	background-size: 100% 100%;
  	background-attachment: fixed;
}
.heading{
	font-size: 75px;
	text-align: center;
	margin: 10px;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
	border: 6px solid;
}
.logo{
	width: 150px;
	height: 70px;
	text-align: left;
	position: absolute;
	left: 30px;
	top: 35px;
}
.nav{
	background-color: white;
	border: 7px solid black;
	text-align: center;
	margin: 10px;
	padding: 20px;
	border-radius: 10px;
	position: static;

}
.nav a{
	text-decoration: none;
	position: static;
	margin: 70px;
	font-size: 25px;
	color: black;
	position: static;
}
.nav a:hover{
	background-color: black;
	margin: 60px;
	box-shadow: 20 white;
	color: white;
	border-radius: 5px;
	padding: 10px;
}
img{
	width: 350px;
    height: 394px;
	margin: 10px;
}
.sell{
	background-color: white;
	border-radius: 10px;
	padding: 15px;
	margin: 18px;
	float: left;
	border: 3px solid;
}
a{
	text-decoration: none;
	color: black;
	font-size: 20px;
	text-align: center;
}
h4{
	text-decoration: none;
	color: black;
	text-align: center;
}